<!DOCTYPE html>
<html>
<head>
    <title>Best Books!</title>
    <link rel="stylesheet"  type="text/css" href="/styles/reset.css" />
    <link rel="stylesheet"  type="text/css" href="/styles/base.css" />
</head>
<body>
    <form action="/search" method="POST">
        <label>Search by Title or Author 
          <input type="text" name="searchField">
        </label>
        <label> Title
          <input type="radio" name="userInput" value="intitle">
        </label>
        <label>Author
          <input type="radio" name="userInput" value="inauthor">
        </label>
        <button type="submit">Search the Google Books</button>
      </form>   
</body>
</html>