<header>
    <h1>book-List</h1>
    <nav class="navigation">
      <ul>
        <li><a href="/">View All book</a></li>
        <li><a href="/add">Add a New book</a></li>
      </ul>
    </nav>
  </header>