
<!-- TODO: make form for all search results, link the a button to show the form for the selected book id we will need a new app.js that uses jquery so we can do on click event listeners -->

<form action="/search-results" method="POST">
    <label>Enter book search: 
      <input type="text" name="searchField">
    </label>
    <label>Search titles
      <input type="radio" name="userInput" value="intitle">
    </label>
    <label>Search authors
      <input type="radio" name="userInput" value="inauthor">
    </label>
    <button type="submit">Search</button>
</form>   